from constraint import Problem, AllDifferentConstraint

def constraint_function(a, b, c):
   
    return a + b != c  

def main():
    problem = Problem()
    problem.addVariable('a', range(1, 5))
    problem.addVariable('b', range(2, 4))
    problem.addVariable('c', range(1, 3))
    problem.addConstraint(constraint_function, ['a', 'b', 'c'])

    problem.addConstraint(AllDifferentConstraint(), ['a', 'b', 'c'])

    solutions = problem.getSolutions()

    for solution in solutions:
        print(solution)

if __name__ == "__main__":
    main()
